{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>
    <div>
      About this application:
      <ul>
        <li>To do a live scraping of his Twitter feed, head over to the Live section, where you can see tweets scraped in real-time, entity recognition based on company name or stock ticker symbol, and sentiment analysis based on Google's natural language processing library.</li>
        <li>Sometimes Elon might not tweet about a company. Have no fear! If no company pops up in the live feed, head over to the demo tab, where I have prepped some sample data to demonstrate the app's capabilities.</li>
        <li>For more information about Google's sentiment analysis scores, head over to the Info tab where I break down what these scores actually mean.</li>
      </ul>
    </div>
    <div>
      With this app maybe you will be able to make some big returns off of Etsy or the next big stock that Elon tweets about ;)
    </div>
{% endblock %}