{% extends 'layout.html' %}

{% block css %}
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
    </div>
    <table>
      {% for item in sentiment %}
      <tr>
         <td>{{item.text}}</td>
         <td>{{item.sentiment}}</td>
      </tr>
      {% endfor %}
    </table>
    <table>
      {% for item in ner %}
      <tr>
         <td>{{item.tweet}}</td>
         <td>{{item.tokens}}</td>
      </tr>
      {% endfor %}
    </table>
{% endblock %}